<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>MiEcommerce</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque nesciunt, rerum soluta magni assumenda tempore, odit rem quibusdam quia ipsam distinctio, incidunt sit fugit ea molestias amet tenetur debitis molestiae!</p>
            
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/MiEcommerce.png" alt="Proyecto MiEcommerce" class="img-fluid img-proyecto">
        </div>
    </div>
</div>