<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/38355981.jpeg"
             alt="Foto de perfil de Carla Vargas"
             class="img-fluid"
             id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p class="nombre">Vargas Carla Ayelén</p>
        <p>Full Stack Developr Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea veritatis totam molestias 
                adipisci voluptate vitae rem, laborum nisi quasi repellat ipsum aperiam dolorum, 
                molestiae quas numquam possimus dicta corrupti labore!</p>
        </span>
    </div>
</div>
