<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudio 1</h1>
                <h3>(years)</h3>
            </li>
            <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Natus quod sapiente necessitatibus, magni possimus sit blanditiis
                fugit illum quo tempore est repellat adipisci excepturi vero ex a corporis
                obcaecati. Impedit?
            </p>
        </ul>
        <ul>
            <li>
                <h1>Estudio 2</h1>
                <h3>(years)</h3>
            </li>
            <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Natus quod sapiente necessitatibus, magni possimus sit blanditiis
                fugit illum quo tempore est repellat adipisci excepturi vero ex a corporis
                obcaecati. Impedit?
            </p>
        </ul>
        <ul>
            <li>
                <h1>Estudio 3</h1>
                <h3>(years)</h3>
            </li>
            <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Natus quod sapiente necessitatibus, magni possimus sit blanditiis
                fugit illum quo tempore est repellat adipisci excepturi vero ex a corporis
                obcaecati. Impedit?
            </p>
        </ul>
    </div>
</div>

